body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}